body{
    background-color: black;
    font-family:  Calibri;
    color: white;
   margin-top: 30px;
}

.header{
    background-color: rgb(39, 38, 38);
    top:0px;
    margin-left: 50px;
    margin: 30px;
    padding: 20px;
    position: fixed;
    
    border-radius: 15px;
}

.main{
    
    background-color: rgb(33, 33, 33);
    margin-left: 40px;
    margin-bottom: 30px;
    margin-right: 40px;
    border-radius: 25px;
}

.exp,.edu,.con{
    background-color: rgb(33, 33, 33);
    padding: 20px;
    margin:40px;
    border-radius: 25px;
    margin-bottom:50px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
span{
    font-size: 25px;
    margin-top: 40px;
    padding-top: 30px;
    color: white;
    font-family:  Calibri;
}
.table{
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
td{
    color:white;
    padding-right: 40px;
}
h1{
    font-size: 50px;
    color:#80ffd4;
    font-family:  Cosmic Sans;
}
h3{
    font-size: 40px;
}
h5{
    font-size: 25px;
    font-family:  Cosmic Sans;
}
.self{
    margin: 20px;
    padding: 20px;
    padding-left: 10px;
    height:400px;
    width: 400px;
    
}

ul{
    width: 700px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    padding-left: 30px;
    list-style-type: none;
}
.company{
    font-size: 30px;
}
.date{
    font-size: 25px;
    color:#80ffd4;
}
.work{
    font-size: 20px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    padding: 5px;
}
.tab{
    padding-left: 100px;
    margin-left: 100px;
    padding-bottom: 20px;
}
.connect{
    font-size: 30px;
}